server:
  port: 8080

spring:
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/jiaming/uaa/jwk/publicKey # 本地网关的地址，线上应该为 nginx 的入口地址
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allow-credentials: true
            allowed-headers: "*"
            # 缓存半个月的预检请求
            max-age: 1296000
            # 指示响应的资源是否可以被给定的来源共享。
            # fixme 这里是测试情况下设置为所有源，上线后请改为对应前端服务器地址，例如 http://1.1.1.1:9527，可多个值
            allowed-origin-patterns: "*"
            allowed-methods:
              - GET
              - POST
              - PUT
              - OPTIONS
              - DELETE
      discovery:
        locator:
          # 开启服务注册与发现
          enabled: true
      routes:
        - id: jiaming-admin
          uri: lb://jiaming-admin
          predicates:
            - Path=/jiaming/admin/**
          filters:
            - RewritePath=/jiaming/?(?<segment>.*), /$\{segment}
        - id: oauth2-auth
          uri: lb://jiaming-uaa
          predicates:
            - Path=/jiaming/uaa/oauth2/**
          filters:
            - RewritePath=/jiaming/uaa/oauth2/?(?<segment>.*), /oauth2/$\{segment}
        - id: jiaming-uaa
          uri: lb://jiaming-uaa
          predicates:
            - Path=/jiaming/uaa/**
          filters:
            # 为什么要加这个 PreserveHostHeader Filter？
            # 这个 Filter 的作用就是保留主机头，之所以这么做是因为网关转发 /oauth2/authorize 这个请求时，
            # 认证服务只能拿到当前服务的地址和端口号，然后前端重定向，没有办法拿到之前的session，把之前的链接拿出来进行跳转导致的
            # 解决方案请参考这篇文章的评论区：https://blog.csdn.net/CSDN877425287/article/details/110948221
            # 以及：https://ask.csdn.net/questions/1061712
            # TODO 另外待测试加一层 Nginx
            #            - PreserveHostHeader
            - RewritePath=/jiaming/?(?<segment>.*), /$\{segment}

gateway:
  white-list:
    ignore-urls:
      - /favicon.ico
      #      - /jiaming/uaa/client/redirect_code
      #      - /jiaming/uaa/oauth2/access_token
      - /jiaming/uaa/oauth2/**
      - /jiaming/uaa/auth/code
      - /jiaming/uaa/auth/captcha

logging:
  level:
    com.deepcode.jiaming: debug