<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deepcode.jiaming.admin.mapper.UserMapper">

    <sql id="Vo_Column">
        su.id,
        su.username,
        su.nickname,
        su.dept_id,
        su.post_ids,
        su.email,
        su.mobile,
        su.sex,
        su.avatar,
        su.status,
        su.create_time,
        sd.name as deptName
    </sql>

    <select id="pageList" resultType="com.deepcode.jiaming.admin.vo.UserVo">
        select
        <include refid="Vo_Column"/>
        from sys_user su
        left join sys_dept sd on su.dept_id = sd.id
        where su.tenant_id = #{tenantId}
        <if test="user.username != null and user.mobile != ''">
            and su.username = #{user.username}
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            and su.mobile = #{user.mobile}
        </if>
        <if test="user.status != null">
            and su.status = #{user.status}
        </if>
        <if test="user.startTime != null and user.startTime != ''">
            and su.create_time &gt;= #{user.startTime}
        </if>
        <if test="user.endTime != null and user.endTime != ''">
            and su.create_time &lt;= #{user.endTime}
        </if>
    </select>
    <select id="getUserInfo" resultType="com.deepcode.jiaming.admin.vo.UserVo">
        select
        <include refid="Vo_Column"/>
        from sys_user su
        left join sys_dept sd on sd.id = su.dept_id
        where su.id = #{userId}
    </select>
</mapper>
